<div class="flex flex-col flex-1">
  <div class="flex flex-col mb-16">
    <h1 class="text-3xl font-bold mb-8">Async form example</h1>

    <AsyncExample />

    <CodeBlock
      @tabs={{array "components/async-example.hbs" "components/async-example.js"}}
    />
  </div>

  <div class="flex flex-row justify-between">
    <LinkTo @route="groups" class="text-red-700">Previous Step: Groups Example</LinkTo>
    <LinkTo @route="i18n" class="text-red-700">Next Step: I18n Demo</LinkTo>
  </div>
</div>
