<div class="flex flex-col flex-1">
  <div class="flex flex-col mb-16">
    <h1 class="text-3xl font-bold mb-8">Groups form example</h1>

    <div class="">
      TODO
    </div>
  </div>

  <div class="flex flex-row justify-between">
    <LinkTo @route="simple" class="text-red-700">Previous Step: Simple Example</LinkTo>
    <LinkTo @route="async" class="text-red-700">Next Step: Async Demo</LinkTo>
  </div>
</div>
