<div class="flex flex-col flex-1">
  <div class="flex flex-col mb-16">
    <h1 class="text-3xl font-bold mb-8">I18n Support example</h1>

    <div class="">
      TODO
    </div>
  </div>

  <div class="flex flex-row justify-between">
    <LinkTo @route="groups" class="text-red-700">Previous Step: Groups Example</LinkTo>
  </div>
</div>
