<div class="flex flex-col flex-1">
  <div class="flex flex-col mb-16">
    <h1 class="text-3xl font-bold mb-8">Overview</h1>
    <p class="leading-normal mb-8">
      Installation<br><br>
      To install ember-vest, run
    </p>

    <div class="bg-gray-800 p-4 rounded text-sm text-gray-100">
      <pre>ember install ember-vest</pre>
    </div>
  </div>

  <div class="flex flex-row justify-between">
    <span></span>
    <LinkTo @route="simple" class="text-red-700">Next Step: Simple Demo</LinkTo>
  </div>
</div>
